.image{
    width: 100%;
    height: 700px;
       background: linear-gradient(to right ,rgba(0, 0, 0, 0.53),rgba(255, 255, 255, 0.273)),url('../image/c9.jpg');
       background-size: 1550px 100%;
       background-position: center;
       background-size: cover;
       background-repeat: no-repeat;
       z-index: -1;
   }
   .h1{
    color: transparent;
background: #545454;
-webkit-background-clip: text;
-moz-background-clip: text;
background-clip: text;
text-shadow: 0px 3px 3px rgba(131, 130, 130, 0.5);
  
   }
   .ss{
    color: #f2f2f2;
    font-family: "Jersey 20", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 5vw; /* Adjust the size to fit the screen */
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    white-space: nowrap; /* Ensure the text stays on one line */
    z-index: 1;
}
.prog{
    margin-top: 40px;
    height: 700px;

}
.programme{
    margin-left: 100px;
    
}
.detail{
 display: flex;
  align-items: center;
 

}
.title{
    color: #ccea49;
}
.card {
    width: 490px;
    margin-left: 100px;
    height: 624px;
    border-radius: 30px;
    background: #e0e0e0;
    box-shadow: 15px 15px 30px #bebebe,
               -15px -15px 30px #ffffff;
  }
  .lieu{
    padding-top: 20px;
    margin-left: 115px;
  }
  .map{
    margin-left: 40px;
    margin-top: 10px;
  }
  .acc{
    margin-left: 190px;
  }
  .cont{
    margin-left: 25px;
    margin-right: 25px;
  }


  .parent {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .child {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    transform-style: preserve-3d;
    transition: all 0.5s ease-in-out;
    border-radius: 50%;
    margin-left: 130px;
  }
  
  .child:hover {
    background-color: white;
    background-position: -100px 100px, -100px 100px;
    transform: rotate3d(0.5, 1, 0, 30deg);
    transform: perspective(180px) rotateX(60deg) translateY(2px);
    box-shadow: 0px 10px 10px rgb(255, 255, 255);
  }
  
  button {
    border: none;
    background-color: transparent;
    font-size: 20px;
  }
  
  .button:hover {
    width: inherit;
    height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translate3d(0px, 0px, 15px) perspective(180px) rotateX(-35deg) translateY(2px);
    border-radius: 50%;
  }
  .partage{
    display: flex;
  align-items: center;
  
  }
  .h3{
margin-left: 110px;
  }