.img{
    width: 600px;
    margin-left: 50px;
}
.input {
    width: 390px;
    height: 44px;
    
    margin-left: 80px;
    background-color: #05060f0a;
    border-radius: .5rem;
    padding: 0 1rem;
    border: 2px solid transparent;
    font-size: 1rem;
    transition: border-color .3s cubic-bezier(.25,.01,.25,1) 0s, color .3s cubic-bezier(.25,.01,.25,1) 0s,background .2s cubic-bezier(.25,.01,.25,1) 0s;
  }
  
  .label {
    margin-top: 10px;
    margin-left: 80px;
    display: block;
    margin-bottom: .3rem;
    font-size: .9rem;
    font-weight: bold;
    color: #05060f99;
    transition: color .3s cubic-bezier(.25,.01,.25,1) 0s;
  }
  
  .input:hover, .input:focus, .group:hover .input {
    outline: none;
    border-color: #05060f;
  }
  
  .group:hover .label, .input:focus {
    color: #05060fc2;
   
  }
  .h3{
    color: #363432;
margin-top: 40px;
margin-left: 120px;
text-shadow: 4px 3px 0 #7a7a7a53;
font-family: "Merriweather", serif;
  font-weight: 600;
  font-size: 50px;
  font-style: normal;

  }
  .Message{
    width: 390px;
    height: 94px;
    
    margin-left: 80px;
    background-color: #05060f0a;
    border-radius: .5rem;
    padding: 0 1rem;
    border: 2px solid transparent;
    font-size: 1rem;
    transition: border-color .3s cubic-bezier(.25,.01,.25,1) 0s, color .3s cubic-bezier(.25,.01,.25,1) 0s,background .2s cubic-bezier(.25,.01,.25,1) 0s;
  }


  .button {
    --primary-color: #5b4501;
    --secondary-color: #fff;
    --hover-color: #111;
    --arrow-width: 10px;
    --arrow-stroke: 2px;
    box-sizing: border-box;
    border: 0;
    margin-top: 25px;
    margin-left: 220px;
    border-radius: 20px;
    color: var(--secondary-color);
    padding: 0.2em 1.2em;
    background: var(--primary-color);
    display: flex;
    transition: 0.2s background;
    align-items: center;
    gap: 0.6em;
    font-weight: bold;
  }
  
  .button .wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .button .arrow {
    margin-top: 1px;
    width: var(--arrow-width);
    background: var(--primary-color);
    height: var(--arrow-stroke);
    position: relative;
    transition: 0.2s;
  }
  
  .button .arrow::before {
    content: "";
    box-sizing: border-box;
    position: absolute;
    border: solid var(--secondary-color);
    border-width: 0 var(--arrow-stroke) var(--arrow-stroke) 0;
    display: inline-block;
    top: -3px;
    right: 3px;
    transition: 0.2s;
    padding: 3px;
    transform: rotate(-45deg);
  }
  
  .button:hover {
    background-color: var(--hover-color);
  }
  
  .button:hover .arrow {
    background: var(--secondary-color);
  }
  
  .button:hover .arrow:before {
    right: 0;
  }


